/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.head {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    /* Agrega tu logo aquí */
    background-color: #fff; /* Coloca el color o imagen de tu logo */
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.navbar {
    display: flex;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #ffc107;
}

/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Formulario de contacto */
.contact-form {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-form form {
    display: grid;
    gap: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form input[type="submit"]:hover {
    background-color: #ffab00;
}

/* Sección de contacto */
.content.contact {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

.content.contact .title {
    font-size: 28px;
    margin-bottom: 10px;
}

.content.contact p {
    font-size: 16px;
    margin-bottom: 20px;
}

.content.contact form {
    display: grid;
    gap: 15px;
    max-width: 400px;
    margin: 0 auto;
}

.content.contact label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.content.contact input[type="text"],
.content.contact input[type="email"],
.content.contact textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.content.contact textarea {
    resize: vertical;
}

.content.contact button {
    background-color: #ffc107;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.content.contact button:hover {
    background-color: #ffab00;
}
